.video-title {
  font-size: 14px;
  font-weight: 500;
}

.channel-title {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

.minature {
  border-radius: 50%;
}

.index-size {
  font-size: 14px;
  
}
