/* You can add global styles to this file, and also import other style files */

body {
  background-color: #eee;
}

.notcard {
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.notcard-padding {
  padding: 10px;
}

.sidebar {
  color: white;
  height: calc(100vh - 56px);
  padding: 10px 13px 10px 10px;
  width: 200px;
  margin-top: 56px;
  margin-left: 0px;
  transition: margin 500ms ease;
  // box-shadow: 2px 0 4px rgba(0, 0, 0, .5);
  overflow-y: hidden;
  overflow-x: hidden;
  direction: ltr;
}

.sidebar:hover {
  padding-right: 10px;
  overflow-y: auto;
}

.content {
  margin-top: 56px;
  margin-left: 204px;
  transition: 500ms ease;
}

.pointer {
  cursor: pointer;
}

.navcolor {
  background-color: #38407c;
}

.sidecolor {
  background-color: #151730;
}

.stripes-animated {
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg,
    rgba(black, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(black, 0.1) 50%,
    rgba(black, 0.1) 75%,
    transparent 75%,
    transparent
  );
  animation: barberpole 0.5s linear infinite;
  @keyframes barberpole {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 60px 30px;
    }
  }
}

/* width */
.sidebar::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #45317c; 
  border-radius: 10px;
}
 
/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #668ac7; 
  border-radius: 10px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #5d7cb0; 
}
