.video-title {
  font-size: 14px;
  font-weight: 500;
}

.channel-title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.minature {
  border-radius: 20%;
  padding: 5px;
}

.index-size {
  font-size: 14px;
}

.down {
  width: 24px;
}
